<!DOCTYPE html>
<html>
  <head>
    <title>Piggy Bank</title>
    <style>
      .piggy {
          height: 300px;
          width: 200px;
          border: 1px solid black;
          position: relative;
      }
      .fill {
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: green;
          width: 100%;
          height: {{ percentage_filled }}%;
      }
    </style>
  </head>
  <body>
    <h2>Piggy Bank Savings Goal</h2>
    <form action="/set_goal" method="post">
      Set Goal: $<input
        type="text"
        name="goal"
        placeholder="Enter savings goal"
      />
      <input type="submit" value="Set Goal" />
    </form>
    <br />
    <div class="piggy">
      <div class="fill"></div>
    </div>
    <br />
    <form action="/add_money" method="post">
      Add Money: $<input type="text" name="amount" placeholder="Enter amount" />
      <input type="submit" value="Add" />
    </form>
    <form action="/remove_money" method="post">
      Remove Money: $<input
        type="text"
        name="amount"
        placeholder="Enter amount"
      />
      <input type="submit" value="Remove" />
    </form>
    <br />
    Current Savings: ${{ savings.current }}
    <br />
    Goal: ${{ savings.goal }}
  </body>
</html>
